.navButtons {
    text-align: center;
    margin: 0 auto;
}

.next {
    position: fixed;
    width: 100px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(187, 187, 187, 0.15);
    border: 3px solid rgb(187, 187, 187);
    border-radius: 25px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.next:active {
    transform: scale(90%);
}

.next:hover {
    background-color: rgba(187, 187, 187, 0.2);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 5px;
    color: rgb(255, 255, 255);
    transition: 250ms;
}

.previous {
    position: fixed;
    width: 100px;
    bottom: 20px;
    left: 20px;
    background-color: rgba(187, 187, 187, 0.15);
    border: 3px solid rgb(187, 187, 187);
    border-radius: 25px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.previous:active {
    transform: scale(90%);
}

.previous:hover {
    background-color: rgba(187, 187, 187, 0.2);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 5px;
    color: rgb(255, 255, 255);
    transition: 250ms;
}

.start {
    position: fixed;
    width: 100px;
    bottom: 20px;
    right: 10%;
    background-color: rgba(187, 187, 187, 0.15);
    border: 3px solid rgb(187, 187, 187);
    border-radius: 25px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.start:active {
    transform: scale(90%);
}

.start:hover {
    background-color: rgba(187, 187, 187, 0.2);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 5px;
    color: rgb(255, 255, 255);
    transition: 250ms;
}

body {
    background-color: #1f2124;
}

/* body::-webkit-scrollbar {
    display: none;
} */