body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 34px;
}

p {
  font-size: 20px;
}

button {
  font-size: 16px;
  font-weight: bold;
  color:maroon;
  padding: 10px;
  background-color: rgba(128, 0, 0, 0.096);
  border: 3px solid maroon;
  border-radius: 5px;
}

button:active {
    transform: scale(90%);
}

button:hover {
    background-color: rgba(128, 0, 0, 0.267);
    color: white;
    border-color:white;
    transition: 250ms;
}